<!DOCTYPE html>
  head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title AppInterest
  <link rel="shortcut icon" type="" href="../css/images/imagenesPaginaDiseño/logoClaro.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />   

  link(rel='stylesheet', href='/css/stylesDefault.css')
  link(rel='stylesheet', href='/css/stylesBuscarLugar.css')

  body
    .header
      .blanco
      .contenedorTitulo
          h1.textTitle APPINTEREST
      .contenedorSignOut
          p.avatarUsuario
          .dropdown 
              button.botonNombreUsuario
              <div class="dropdown-content">
                  .dropdown-item
                      <i class="fas fa-cog"></i>
                      <a href="#">Configuración</a>
                  .dropdown-item    
                      <i class="fas fa-user"></i>
                      <a href="#">Mi cuenta</a>
              </div>
          <form id="my_formSignOut" method="get" action="/logout">
              <a href="javascript:{}" onclick="document.getElementById('my_formSignOut').submit();"><i class="fas fa-sign-out-alt"></i></a>
          </form>
    .container
      .containerSidebar
          .contenedorLogo
              <svg class="logoRegistro" viewBox="0 0 300 300" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="logo">
                      <path id="AppInterest" d="M93.758 251.59H87.07L85.838 255H83.726L89.27 239.754H91.58L97.102 255H94.99L93.758 251.59ZM93.186 249.962L90.414 242.218L87.642 249.962H93.186ZM102.07 245.166C102.466 244.477 103.053 243.905 103.83 243.45C104.622 242.981 105.539 242.746 106.58 242.746C107.651 242.746 108.619 243.003 109.484 243.516C110.364 244.029 111.054 244.755 111.552 245.694C112.051 246.618 112.3 247.696 112.3 248.928C112.3 250.145 112.051 251.231 111.552 252.184C111.054 253.137 110.364 253.878 109.484 254.406C108.619 254.934 107.651 255.198 106.58 255.198C105.554 255.198 104.644 254.971 103.852 254.516C103.075 254.047 102.481 253.467 102.07 252.778V260.72H100.068V242.944H102.07V245.166ZM110.254 248.928C110.254 248.019 110.071 247.227 109.704 246.552C109.338 245.877 108.839 245.364 108.208 245.012C107.592 244.66 106.91 244.484 106.162 244.484C105.429 244.484 104.747 244.667 104.116 245.034C103.5 245.386 103.002 245.907 102.62 246.596C102.254 247.271 102.07 248.055 102.07 248.95C102.07 249.859 102.254 250.659 102.62 251.348C103.002 252.023 103.5 252.543 104.116 252.91C104.747 253.262 105.429 253.438 106.162 253.438C106.91 253.438 107.592 253.262 108.208 252.91C108.839 252.543 109.338 252.023 109.704 251.348C110.071 250.659 110.254 249.852 110.254 248.928ZM117.487 245.166C117.883 244.477 118.47 243.905 119.247 243.45C120.039 242.981 120.956 242.746 121.997 242.746C123.068 242.746 124.036 243.003 124.901 243.516C125.781 244.029 126.471 244.755 126.969 245.694C127.468 246.618 127.717 247.696 127.717 248.928C127.717 250.145 127.468 251.231 126.969 252.184C126.471 253.137 125.781 253.878 124.901 254.406C124.036 254.934 123.068 255.198 121.997 255.198C120.971 255.198 120.061 254.971 119.269 254.516C118.492 254.047 117.898 253.467 117.487 252.778V260.72H115.485V242.944H117.487V245.166ZM125.671 248.928C125.671 248.019 125.488 247.227 125.121 246.552C124.755 245.877 124.256 245.364 123.625 245.012C123.009 244.66 122.327 244.484 121.579 244.484C120.846 244.484 120.164 244.667 119.533 245.034C118.917 245.386 118.419 245.907 118.037 246.596C117.671 247.271 117.487 248.055 117.487 248.95C117.487 249.859 117.671 250.659 118.037 251.348C118.419 252.023 118.917 252.543 119.533 252.91C120.164 253.262 120.846 253.438 121.579 253.438C122.327 253.438 123.009 253.262 123.625 252.91C124.256 252.543 124.755 252.023 125.121 251.348C125.488 250.659 125.671 249.852 125.671 248.928ZM132.905 239.666V255H130.903V239.666H132.905ZM142.741 242.724C144.207 242.724 145.395 243.171 146.305 244.066C147.214 244.946 147.669 246.222 147.669 247.894V255H145.689V248.18C145.689 246.977 145.388 246.061 144.787 245.43C144.185 244.785 143.364 244.462 142.323 244.462C141.267 244.462 140.423 244.792 139.793 245.452C139.177 246.112 138.869 247.073 138.869 248.334V255H136.867V242.944H138.869V244.66C139.265 244.044 139.8 243.567 140.475 243.23C141.164 242.893 141.919 242.724 142.741 242.724ZM153.931 244.594V251.7C153.931 252.287 154.056 252.705 154.305 252.954C154.554 253.189 154.987 253.306 155.603 253.306H157.077V255H155.273C154.158 255 153.322 254.743 152.765 254.23C152.208 253.717 151.929 252.873 151.929 251.7V244.594H150.367V242.944H151.929V239.908H153.931V242.944H157.077V244.594H153.931ZM171.053 248.51C171.053 248.891 171.031 249.295 170.987 249.72H161.351C161.424 250.908 161.827 251.839 162.561 252.514C163.309 253.174 164.211 253.504 165.267 253.504C166.132 253.504 166.851 253.306 167.423 252.91C168.009 252.499 168.42 251.957 168.655 251.282H170.811C170.488 252.441 169.843 253.387 168.875 254.12C167.907 254.839 166.704 255.198 165.267 255.198C164.123 255.198 163.096 254.941 162.187 254.428C161.292 253.915 160.588 253.189 160.075 252.25C159.561 251.297 159.305 250.197 159.305 248.95C159.305 247.703 159.554 246.611 160.053 245.672C160.551 244.733 161.248 244.015 162.143 243.516C163.052 243.003 164.093 242.746 165.267 242.746C166.411 242.746 167.423 242.995 168.303 243.494C169.183 243.993 169.857 244.682 170.327 245.562C170.811 246.427 171.053 247.41 171.053 248.51ZM168.985 248.092C168.985 247.329 168.816 246.677 168.479 246.134C168.141 245.577 167.679 245.159 167.093 244.88C166.521 244.587 165.883 244.44 165.179 244.44C164.167 244.44 163.301 244.763 162.583 245.408C161.879 246.053 161.475 246.948 161.373 248.092H168.985ZM176.247 244.902C176.599 244.213 177.098 243.677 177.743 243.296C178.403 242.915 179.203 242.724 180.141 242.724V244.792H179.613C177.369 244.792 176.247 246.009 176.247 248.444V255H174.245V242.944H176.247V244.902ZM194.002 248.51C194.002 248.891 193.98 249.295 193.936 249.72H184.3C184.374 250.908 184.777 251.839 185.51 252.514C186.258 253.174 187.16 253.504 188.216 253.504C189.082 253.504 189.8 253.306 190.372 252.91C190.959 252.499 191.37 251.957 191.604 251.282H193.76C193.438 252.441 192.792 253.387 191.824 254.12C190.856 254.839 189.654 255.198 188.216 255.198C187.072 255.198 186.046 254.941 185.136 254.428C184.242 253.915 183.538 253.189 183.024 252.25C182.511 251.297 182.254 250.197 182.254 248.95C182.254 247.703 182.504 246.611 183.002 245.672C183.501 244.733 184.198 244.015 185.092 243.516C186.002 243.003 187.043 242.746 188.216 242.746C189.36 242.746 190.372 242.995 191.252 243.494C192.132 243.993 192.807 244.682 193.276 245.562C193.76 246.427 194.002 247.41 194.002 248.51ZM191.934 248.092C191.934 247.329 191.766 246.677 191.428 246.134C191.091 245.577 190.629 245.159 190.042 244.88C189.47 244.587 188.832 244.44 188.128 244.44C187.116 244.44 186.251 244.763 185.532 245.408C184.828 246.053 184.425 246.948 184.322 248.092H191.934ZM201.463 255.198C200.539 255.198 199.71 255.044 198.977 254.736C198.243 254.413 197.664 253.973 197.239 253.416C196.813 252.844 196.579 252.191 196.535 251.458H198.603C198.661 252.059 198.94 252.551 199.439 252.932C199.952 253.313 200.619 253.504 201.441 253.504C202.203 253.504 202.805 253.335 203.245 252.998C203.685 252.661 203.905 252.235 203.905 251.722C203.905 251.194 203.67 250.805 203.201 250.556C202.731 250.292 202.005 250.035 201.023 249.786C200.128 249.551 199.395 249.317 198.823 249.082C198.265 248.833 197.781 248.473 197.371 248.004C196.975 247.52 196.777 246.889 196.777 246.112C196.777 245.496 196.96 244.931 197.327 244.418C197.693 243.905 198.214 243.501 198.889 243.208C199.563 242.9 200.333 242.746 201.199 242.746C202.533 242.746 203.611 243.083 204.433 243.758C205.254 244.433 205.694 245.357 205.753 246.53H203.751C203.707 245.899 203.45 245.393 202.981 245.012C202.526 244.631 201.91 244.44 201.133 244.44C200.414 244.44 199.842 244.594 199.417 244.902C198.991 245.21 198.779 245.613 198.779 246.112C198.779 246.508 198.903 246.838 199.153 247.102C199.417 247.351 199.739 247.557 200.121 247.718C200.517 247.865 201.059 248.033 201.749 248.224C202.614 248.459 203.318 248.693 203.861 248.928C204.403 249.148 204.865 249.485 205.247 249.94C205.643 250.395 205.848 250.989 205.863 251.722C205.863 252.382 205.679 252.976 205.313 253.504C204.946 254.032 204.425 254.45 203.751 254.758C203.091 255.051 202.328 255.198 201.463 255.198ZM211.681 244.594V251.7C211.681 252.287 211.806 252.705 212.055 252.954C212.304 253.189 212.737 253.306 213.353 253.306H214.827V255H213.023C211.908 255 211.072 254.743 210.515 254.23C209.958 253.717 209.679 252.873 209.679 251.7V244.594H208.117V242.944H209.679V239.908H211.681V242.944H214.827V244.594H211.681Z" fill="white"/>
                      <g id="Group">
                      <path id="flechasVectorLogo" d="M40.7825 39.4742C44.8354 48.5746 47.7415 59.0505 48.8886 68.7625C49.1178 70.5212 49.2709 70.3689 51.1061 67.2331C52.1767 65.3213 53.3237 62.7979 53.6296 61.5747C53.9354 60.3507 54.6239 58.6682 55.2355 57.8273C56.1533 56.5271 59.518 59.7391 100.659 100.804L145.089 145.234L106.012 184.311L66.9355 223.388L59.7473 223.311C52.6356 223.311 52.559 223.311 50.1118 225.835C48.7355 227.287 43.6117 232.411 38.7942 237.306L30 246.176H37.7237H45.4474L56.6119 234.935C67.7002 223.923 67.8533 223.77 69.3827 225.146C70.9121 226.523 70.8356 226.676 59.9769 237.535C47.7415 249.694 47.9708 249.159 47.9708 260.552V265.523L59.8238 253.594L71.6769 241.588V234.323V227.058L110.295 188.44C131.478 167.181 149.066 149.822 149.294 149.822C149.524 149.822 167.113 167.257 188.449 188.593L227.219 227.44L227.449 234.323C227.525 238.07 227.601 241.435 227.678 241.741C227.678 242.429 249.472 264.529 250.084 264.529C250.39 264.529 250.313 261.088 250.084 256.806L249.626 249.159L239.072 238.3C233.184 232.335 228.442 227.058 228.442 226.6C228.442 226.14 228.978 225.299 229.589 224.764C230.584 223.923 232.42 225.376 241.979 234.935L253.143 246.176H261.173H269.278L257.655 234.705L246.031 223.235H238.766H231.501L192.425 184.234L153.424 145.234L197.471 101.187C225.46 73.1977 241.901 57.2918 242.589 57.598C243.202 57.8273 244.119 59.4329 244.655 61.2685C245.19 63.1041 246.337 65.8568 247.254 67.5393L248.937 70.4451L249.472 67.1569C250.773 58.8213 253.832 48.0391 256.89 41.0036C258.114 38.0978 258.955 35.5744 258.802 35.3444C258.572 35.1921 256.737 35.8799 254.672 36.8738C250.008 39.2449 242.896 41.4621 234.56 43.1446C222.555 45.5919 223.395 45.2095 227.067 47.0451C228.901 47.886 232.037 49.4154 234.025 50.3333L237.773 52.0158L216.054 73.8101C160.23 130.093 149.677 140.646 149.294 140.646C149.066 140.646 129.03 120.84 104.865 96.5984C57.1472 48.88 59.2121 51.4034 65.8649 49.4916C67.5474 48.9569 70.3005 47.8098 71.906 46.892L74.8887 45.2095L70.3766 44.4448C58.5236 42.2268 53.0944 40.7743 46.4413 38.0978C42.4646 36.4153 39.1765 35.1151 39.0234 35.1151C38.9473 35.1151 39.712 37.1039 40.7825 39.4742Z" fill="white"/>
                      <path id="Vector_2" d="M137.189 35.6885C137.189 35.994 135.431 38.6705 133.289 41.577C131.148 44.4827 129.159 47.3885 128.931 48.0001C128.701 48.6117 126.942 51.2882 125.03 53.9647C119.83 61.2295 117.995 64.9769 119.142 66.2001C120.748 67.8826 122.431 66.4302 126.56 60.0063C128.701 56.5651 131.836 51.9768 133.365 49.9119C134.971 47.7708 136.501 45.3236 136.73 44.4058C138.03 40.1999 139.1 40.8123 144.76 48.9179C152.176 59.7001 154.242 62.1473 155.848 61.5357C157.377 60.9241 157.453 58.4768 155.924 57.1767C154.93 56.3358 155.235 55.7242 157.912 52.4353C159.671 50.3712 161.353 48.7648 161.659 48.9179C162.5 49.2241 168.465 56.7181 171.294 61.0002C172.671 62.9889 174.659 65.3592 175.882 66.2771C177.718 67.7296 178.177 67.8065 179.095 66.8887C180.012 65.8947 180.012 65.4354 178.865 63.3713C178.177 61.9942 176.495 59.6239 175.118 58.0945C173.742 56.5651 171.676 53.8885 170.607 52.206C169.536 50.5235 167.088 47.3885 165.176 45.3236L161.659 41.5L157.147 46.4707C153.401 50.6004 152.482 51.2121 151.489 50.4473C150.877 49.9119 148.2 46.2414 145.524 42.2647C141.777 36.6825 140.247 35 138.948 35C137.953 35 137.189 35.3062 137.189 35.6885Z" fill="white"/>
                      <path id="Vector_3" d="M118.3 75.2243C118.071 75.836 118.224 76.7538 118.607 77.1361C118.989 77.5185 131.301 77.7477 149.501 77.6708C179.019 77.4415 179.63 77.4415 179.63 75.9121C179.63 74.3827 179.019 74.3827 149.195 74.1535C122.124 74.0004 118.759 74.0773 118.3 75.2243Z" fill="white"/>
                      <path id="Vector_4" d="M118.759 84.4009C118.071 85.2418 117.995 85.9304 118.607 86.8474C119.295 87.9945 122.201 88.1476 149.041 88.1476C175.882 88.1476 178.789 87.9945 179.477 86.8474C180.088 85.9304 180.012 85.2418 179.324 84.4009C178.407 83.33 174.813 83.1769 149.041 83.1769C123.271 83.1769 119.677 83.33 118.759 84.4009Z" fill="white"/>
                      <path id="A" d="M64.4277 164.36H53.4837L51.4677 169.94H48.0117L57.0837 144.992H60.8637L69.8997 169.94H66.4437L64.4277 164.36ZM63.4917 161.696L58.9557 149.024L54.4197 161.696H63.4917Z" fill="white"/>
                      <path id="A_2" d="M248.724 164.36H237.78L235.764 169.94H232.308L241.38 144.992H245.16L254.196 169.94H250.74L248.724 164.36ZM247.788 161.696L243.252 149.024L238.716 161.696H247.788Z" fill="white"/>
                      </g>
                  </g>
              </svg>
          nav.sidenav
              ul.containerList
                  li
                      i.fas.fa-home
                      <a href="/usuarios/logged_usuario"><p class="textItemSidebar">Inicio</p></a>   
                  li
                      i.fas.fa-search
                      <a href="#"> Buscar lugar</a>
                  li.ocultarBoton
                      i.fas.fa-plus.botonSidenav
                      <a class="botonSidenav" href="../lugares/nuevo_lugar">Añadir lugar</a>
                  form#formMiAlbum(method="post" action="../imagenes/album")
                          li.ocultarBoton
                              i.fas.fa-images
                              <a class="botonSidenav" onclick="document.getElementById('formMiAlbum').submit();">Mi álbum</a>
                              input#inputInvisibleUsername(form="formMiAlbum" style="display:none" name="username" value="usernameValue")
                  li
                      i.fas.fa-question
                      <a href="/about"> ¿Quiénes somos?</a>
          form(autocomplete="off" method="post" id="formCiudad" action="../lugares/request_ciudad")
              .contenedorSearch
                  select#selectCiudad(onmousedown="if(this.options.length>6){this.size=6;}"  onchange='this.size=0;' onblur="this.size=0;" style="height=100px;" form="formCiudad" name="miCiudad")
                  button#botonCiudad(type="submit" class="btn")
                      i.fas.fa-search
      .containerMain
          .custom-selector(method="post" action="/resultados_acordes_busqueda" id="formDistanciaCiudad")
              .selector
                  .selectorTitle
                      p Distancia desde tu ciudad
                  .select-css
                      .placeholderSelect
                          p Selecciona una opción
                          <i class="fas fa-sort-down"></i>
                      .containerOptions(style="display: none;")
                          button.boton__selector.boton-distancia(value="0,100") 0Km - 100Km
                          button.boton__selector.boton-distancia(value="100,200") 100Km - 200Km
                          button.boton__selector.boton-distancia(value="200,400") 200Km - 400Km 
                          button.boton__selector.boton-distancia(value="401,9999") +400Km 
              .selector
                  .selectorTitle
                      p Ordenar por
                  .select-css
                      .placeholderSelect
                          p Selecciona una opción
                          <i class="fas fa-sort-down"></i>
                      .containerOptions(style="display: none;")
                          button.boton__selector.boton-ordenar(name="relevancia" value="1") Relevancia
                          button.boton__selector.boton-ordenar(name="relevancia" value="3") Automático
                          button.boton__selector.boton-ordenar(name="relevancia" value="2") Fecha de subida

              .selector
                  .selectorTitle
                      p Filtrar por categoría
                  .select-css
                      .placeholderSelect
                          p Selecciona una opción
                          <i class="fas fa-sort-down"></i>
                      .containerOptionsCategoria(style="display: none;")           
              
          .galeriaLugares
              each card, i in dataLugares 
                  article.blog-card
                      img.post-image(src="https://ak.picdn.net/shutterstock/videos/1015784860/thumb/1.jpg" width="150" height="150")
                      .article-details
                          h4.post-category !{dataLugares[i].categoria}
                          h3.post-city !{dataLugares[i].ciudad}
                          p.post-author Subido por
                                      b  !{dataLugares[i].autor}
                          .containerDetailsCovid
                              .containerCovid
                                  img.covidImagen(src="../images/imagenesPaginaDiseño/covid-icon.png")
                                  p.nivelCovid !{dataLugares[i].nivel_covid} / 5
                              .containerRestriccion
                                  img.covidImagen(src="../images/imagenesPaginaDiseño/restriction.png")
                                  p.nivelRestriccion !{dataLugares[i].nivel_restriccion} /5
                      form.containerLike(action="/lugares/update_like" method="POST" onclick=`like(event)`)  
                          button.likeButton(type="submit" onclick=`handleLikesStorage(${i})`)
                              i.fas.fa-heart
                              p.numeroLikes !{dataLugares[i].likes}
                          input( id="inputInvisibleLike" style="display:none" name="indexCard" value=`${i+1}`)
                      .containerReadMore
                          p Leer más
          //- .pagination 
          //-   #listingTable(class="tableList")
          //-   <div class="pagination-block">
          //-     <span class="pageButton outline-none" id="button_prev">Prev</span>
          //-     <span id="pageNumber" class="outline-none"></span>
          //-     <span class="pageButton outline-none" id="button_next">Next</span>
          //-   </div>
          
    .containerFooter
        .footer
            i.far.fa-copyright 
            p 2021 Luis Seijas Prieto. AppInterest 
            p Términos y Condiciones
            p Políticas de privacidad
    .card-modal
        .card-header
            img.imagen-modal(src="https://ak.picdn.net/shutterstock/videos/1015784860/thumb/1.jpg" alt="rover")
            i.fas.fa-times
        .card-body
            span.tag.modal-categoria 
            h4.modal-info-title Descripción
            p.modal-info.modal-descripcion 
            p.modal-info.modal-distancia A 200 kilómetros de tu ciudad
            h5.auxValorCiudad(style="display:none")


<script type="text/javascript" src="../javascripts/vanilla-tilt.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="../javascripts/funciones.js"></script>


      
script(type="text/javascript").


    const miStorage = window.localStorage

    const ciudades = `!{ciudades}`.split(",")
    const categorias = `!{categorias}`.split(",")
    const descripciones = `!{descripciones}`.split("SEPARATION_BETW_DESCRI,")
      descripciones[descripciones.length - 1] = descripciones[descripciones.length - 1].replace("SEPARATION_BETW_DESCRI", " ")
    const galeria = document.querySelector(".galeriaLugares")
    var arrayLugares = !{JSON.stringify(dataLugares)}

    var elemPlaceholder = document.querySelectorAll(".placeholderSelect");
    var elemOptionsArr = document.querySelectorAll(".containerOptions");
    var elemOptionsCategoria = document.querySelector(".containerOptionsCategoria");
    var elemSelectorCompleto = document.querySelectorAll(".selector")
    var customSelector = document.querySelector(".custom-selector")
    var flechaSelector = document.querySelectorAll(".fa-sort-down")

    const tl = new TimelineLite();

    //manejar visitante
    if(usernameLocalStorage=="visitante"){
        const botonesSideNav = document.querySelectorAll(".botonSidenav")
        var elemBotons = document.querySelectorAll(".botonSidenav")
        var elemLikes = document.querySelectorAll(".containerLike")
        elemLikes.forEach(elem => {
          elem.style.display="none"
        })
        elemBotons.forEach(elem => {
          elem.style.display="none"
        })
    }

    //creando botones para el filtrado de categorias
    var arrCategorias = ["Pueblo", "Valle","Catarata","Mirador","Lago","Río","Museo","Ruta","Montaña","Restaurante","Hotel","Bar","Otros"]
    arrCategorias.forEach(item => {
      let button = document.createElement("button")
      button.value=item
      button.innerHTML=item
      button.classList.add("boton-categoria")
      elemOptionsCategoria.appendChild(button)
    })
    
    
    // MANAGE 3 FILTERS

    function handleSelectors(){
        elemPlaceholder[0].addEventListener("click", function(){

            if(elemOptionsArr[0].style.display=="none"){
                tl.to(customSelector,0.2,{height:"300px"})
                tl.fromTo(elemOptionsArr[0], 0, {display:"none"},{display:"flex"},"-=0.2")
                tl.to(flechaSelector[0],0,{rotation:90, transformOrigin:"center center"},"=-0.3")
            }else{
                cerrarSelectores();
            }
        
        }, false);

        elemPlaceholder[1].addEventListener("click", function(){

            if(elemOptionsArr[1].style.display=="none"){
                tl.to(customSelector,0.2,{height:"300px"})
                tl.fromTo(elemOptionsArr[1], 0, {display:"none"},{display:"flex"},"-=0.2")
                tl.to(flechaSelector[1],0,{rotation:90, transformOrigin:"center center"},"=-0.3")

            }
            else{
                cerrarSelectores();
            }

        }, false);

        elemPlaceholder[2].addEventListener("click", function(){

            if(elemOptionsCategoria.style.display=="none"){
                tl.to(customSelector,0.2,{height:"300px"})
                tl.fromTo(elemOptionsCategoria, 0, {display:"none"},{display:"flex"},"-=0.2")
                tl.to(flechaSelector[2],0,{rotation:90, transformOrigin:"center center"},"=-0.3")

            }else{
                cerrarSelectores();
            }

        }, false);
    }

    function cerrarSelectores(){
        tl.fromTo(elemOptionsArr[0], 0, {display:"flex"},{display:"none"})
        tl.fromTo(elemOptionsArr[1], 0, {display:"flex"},{display:"none"})
        tl.fromTo(elemOptionsCategoria, 0, {display:"flex"},{display:"none"})
        tl.to(customSelector,0.3,{height:"auto"})
        tl.to(flechaSelector,0,{rotation:0, transformOrigin:"center center"},"=-0.3")
    }
    
    handleSelectors()


    const $containerReadMore = document.querySelectorAll(".containerReadMore") 
    const $cartaModal = document.querySelector(".card-modal")
    const $header = document.querySelector(".header")
    const $container = document.querySelector(".container")
    const $cruzSalir = document.querySelector(".fa-times")
    const descripcionModal = document.querySelector(".modal-descripcion")
    const categoriaModal = document.querySelector(".modal-categoria")
    const imagenModal = document.querySelector(".imagen-modal")
    const auxValorCiudad = document.querySelector(".auxValorCiudad")
    const modalDistancia = document.querySelector(".modal-distancia")
    const $blogCard = document.querySelectorAll(".blog-card")
    const categoriasAll = document.querySelectorAll(".post-category")

    $blogCard.forEach(function(item, index){
        item.addEventListener("click", abrirModal, false);
        item.myParam = index;
    })

    $cruzSalir.addEventListener("click", cerrarModal, false);

    //VENTANA MODAL 
    const tl2 = new TimelineLite();

    const objetoDistancias = !{JSON.stringify(distancias)}
    const objArrDistancias = objetoDistancias.distancias

    const ciudadUsuario = localStorage.getItem("lugarVivienda")
    const ciudadUsuarioSinTildes = ciudadUsuario.normalize("NFD").replace(/[\u0300-\u036f]/g, "")
    
    function abrirModal(evt){     

        if(window.innerWidth <  650){
            tl2
            .to($cartaModal, 0,{scale:.8})
            .fromTo($cartaModal, 0.5, {x:1200}, {x:-100})
            
        }else{
            tl2
            .to($cartaModal, 0,{scale:1})
            .fromTo($cartaModal, 0.5, {x:1200}, {x:0})
        }
        
        tl2
            .to($header, 0.5, {display:"none"},"=-5")  
        $header.classList.toggle("modal-openned")
        $container.classList.toggle("modal-openned")   

        categoriaModal.innerText = arrayLugares[evt.currentTarget.myParam].categoria 
        descripcionModal.innerText = arrayLugares[evt.currentTarget.myParam].descripcion
        imagenModal.src = "../images/imagenesLugar/"+arrayLugares[evt.currentTarget.myParam].imagen_lugar
        auxValorCiudad.value = arrayLugares[evt.currentTarget.myParam].ciudad 


        var ciudadPulsada = auxValorCiudad.value
        var ciudadPulsadaSinTildes = ciudadPulsada.normalize("NFD").replace(/[\u0300-\u036f]/g, "")
        var distanciaTotal = undefined;
        var mismaCiudad = false;
        var distanciaTotal = undefined;

        
        objArrDistancias.forEach((item,index) =>{
          if(item.undefined == ciudadPulsadaSinTildes){
            var aux = Object.entries(item)
              for (const [key, value] of aux) {
                if(key == ciudadUsuarioSinTildes) {
                    distanciaTotal = value

                }
              }
          }
        })

        if(distanciaTotal == undefined)
            modalDistancia.innerHTML = `No se encuentra la ciudad en nuestra base de datos` 

        if(distanciaTotal == "0") 
            modalDistancia.innerHTML = `Se encuentra en tu ciudad`
        else 
            modalDistancia.innerHTML = `A ${distanciaTotal} kilómetros de tu ciudad`

    }


    function cerrarModal(){     
        tl2
            .fromTo($cartaModal, 0.5, {x:0}, {x:1200})
        tl2
            .to($header, 0.5, {display:"flex"},"=-0.5")  
        $header.classList.toggle("modal-openned")
        $container.classList.toggle("modal-openned")        
    }



    //PINTAR DIBUJO DE LA CATEGORIA
    const imagenesArr  = document.querySelectorAll(".post-image")
    const categoriasArr = document.querySelectorAll(".post-category")

    categoriasArr.forEach(function(categoria,index){
        comprobarInput(categoria,index)
    })
    function comprobarInput(cat,index){

        if(cat.innerHTML.toLowerCase() == "montaña"){
            imagenesArr [index].src="../images/imagenesCategoria/mountain.png"
            imagenesArr [index].style.borderRadius ="100%"
        }else if(cat.innerHTML.toLowerCase() == "lago"){
            imagenesArr [index].src="../images/imagenesCategoria/lake.png"
            imagenesArr [index].style.borderRadius ="100%"
        }else if(cat.innerHTML.toLowerCase() == "pueblo"){
            imagenesArr [index].src="../images/imagenesCategoria/village.png"
            imagenesArr [index].style.borderRadius ="100%"
        }else if(cat.innerHTML.toLowerCase() == "valle"){
            imagenesArr [index].src="../images/imagenesCategoria/valley.png"
            imagenesArr [index].style.borderRadius ="100%"
        }else if(cat.innerHTML.toLowerCase() == "catarata"){
            imagenesArr [index].src="../images/imagenesCategoria/waterfall.png"
            imagenesArr [index].style.borderRadius ="100%"
        }else if(cat.innerHTML.toLowerCase() == "rio"){
            imagenesArr [index].src="../images/imagenesCategoria/river.png"
            imagenesArr [index].style.borderRadius ="20%"
        }
        else if(cat.innerHTML.toLowerCase() == "mirador"){
            imagenesArr [index].src="../images/imagenesCategoria/telescope.png"
            imagenesArr [index].style.borderRadius ="20%"
        }
        else if(cat.innerHTML.toLowerCase() == "museo"){
            imagenesArr [index].src="../images/imagenesCategoria/museum.png"
            imagenesArr [index].style.borderRadius ="20%"
        }
        else if(cat.innerHTML.toLowerCase() == "ruta"){
            imagenesArr [index].src="../images/imagenesCategoria/path.png"
            imagenesArr [index].style.borderRadius ="20%"
        }
        else if(cat.innerHTML.toLowerCase() == "bar"){
            imagenesArr [index].src="../images/imagenesCategoria/bar.png"
            imagenesArr [index].style.borderRadius ="20%"
        }
        else if(cat.innerHTML.toLowerCase() == "otros"){
            imagenesArr [index].src="../images/imagenesCategoria/others.png"
            imagenesArr [index].style.borderRadius ="20%"
        }
        else if(cat.innerHTML.toLowerCase() == "restaurante"){
            imagenesArr [index].src="../images/imagenesCategoria/restaurant.png"
            imagenesArr [index].style.borderRadius ="20%"
        }
        else if(cat.innerHTML.toLowerCase() == "hotel"){
            imagenesArr [index].src="../images/imagenesCategoria/hotel.png"
            imagenesArr [index].style.borderRadius ="20%"
        }
        else{
            imagenesArr [index].src="../images/imagenesCategoria/no_photo.png"
            imagenesArr [index].style.borderRadius ="0px"
        }
    }

  //MANEJO DE LOS LIKES
    function handleLikesStorage(index){
        localStorage.setItem(usernameLocalStorage+"botonPulsado"+index,index)
    }
  
    function like(event,i){
        event.stopPropagation();
    }
    
    var likeButtons = document.querySelectorAll(".likeButton")
    
    likeButtons.forEach((item,index) =>{
      if(localStorage.getItem(usernameLocalStorage+"botonPulsado"+index)){
          item.style.backgroundColor = "#F44336";
          item.style.cursor = "no-drop";
          item.disabled = true;
      }
    })


  //ACTUALIZAR LA LISTA Y FILTRARLA POR LOS SELECTORES DE DISTANCIA
    const ciudadesPintadasCartas = document.querySelectorAll(".post-city")

    const ciudadesSinTildesBBDD = ciudades.map(ciudad =>{
        return ciudad.normalize("NFD").replace(/[\u0300-\u036f]/g, "")
    })

    const botonesDistancia = document.querySelectorAll(".boton-distancia")
    botonesDistancia.forEach(function(item,index){
      item.addEventListener("click", function(){
        let valores = item.value.split(",")
        borrarCartas(valores)
      })
    })


    function borrarCartas(valores){
      objArrDistancias.forEach(function(item,index){
        if(item.undefined == ciudadUsuarioSinTildes){
          var aux = Object.entries(item)
          handleArrays(valores,aux)
        }
      })
    }


    function handleArrays(valoresSelect,aux){
      for (const [key, value] of aux) {
        ciudadesSinTildesBBDD.forEach(function(ciudad,index){
          if(key==ciudad){
            var distanciaTotal = value
            if(!(distanciaTotal>=valoresSelect[0] && distanciaTotal<valoresSelect[1])){
              eliminarHTMLCartas(key)
            }   
          }
        })
      }
    }
    
    function eliminarHTMLCartas(valorCiudad){
        ciudadesPintadasCartas.forEach(function(ciudadPintada){
            var ciudadPintadaSinTildes = ciudadPintada.innerHTML.normalize("NFD").replace(/[\u0300-\u036f]/g, "")
            if(ciudadPintadaSinTildes == valorCiudad){
                ciudadPintada.parentElement.parentElement.remove()
            }
        })
    }


    //actualizar la lista y filtrarla por categorias
    const categoriasPintadasCartas = document.querySelectorAll(".post-category")
    const botonesCategoria = document.querySelectorAll(".boton-categoria")

    botonesCategoria.forEach(function(item,index){
        item.addEventListener("click", function(){
              let valorCategoria = item.value
              borrarCartasCategoria(valorCategoria)
          
        })
    })          
    
    function borrarCartasCategoria(valorCategoria){
        categoriasPintadasCartas.forEach(function(categoriaPintada){
            if(categoriaPintada.innerHTML.toLowerCase() != valorCategoria.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "")){
                categoriaPintada.parentElement.parentElement.remove()
            }
        })
        
    }

    if(usernameLocalStorage=="visitante"){
        var botonesOcultos = document.querySelectorAll(".ocultarBoton")
        botonesOcultos.forEach(item =>{
            item.style.display ="none"
        })
    }
    document.querySelector("#inputInvisibleUsername").value=miStorage.getItem("username")

//- script(type="text/javascript").

//-   const dataLugares = !{JSON.stringify(dataLugares)}

//-   console.log(dataLugares)
//-   function Pagination() {
    
    

//-     const objJson = dataLugares

//-     const prevButton = document.getElementById('button_prev');
//-     const nextButton = document.getElementById('button_next');
//-     const clickPageNumber = document.querySelectorAll('.clickPageNumber');
    
//-     let current_page = 1;
//-     let records_per_page = 5;
    
//-     this.init = function() {
//-         changePage(1);
//-         pageNumbers();
//-         selectedPage();
//-         clickPage();
//-         addEventListeners();
//-     }
        
//-     let addEventListeners = function() {
//-         prevButton.addEventListener('click', prevPage);
//-         nextButton.addEventListener('click', nextPage);   
//-     }
          
//-     let selectedPage = function() {
//-         let pageNumber = document.getElementById('pageNumber').getElementsByClassName('clickPageNumber'); 
//-         for (let i = 0; i < pageNumber.length; i++) {
//-             if (i == current_page - 1) {
//-                 pageNumber[i].style.opacity = "1.0";
//-             } 
//-             else {
//-                 pageNumber[i].style.opacity = "0.5";
//-             }
//-         }   
//-     }  
        
//-     let checkButtonOpacity = function() {
//-       current_page == 1 ? prevButton.classList.add('opacity') : prevButton.classList.remove('opacity');
//-       current_page == numPages() ? nextButton.classList.add('opacity') : nextButton.classList.remove('opacity');
//-     }

//-     let changePage = function(page) {
//-         const listingTable = document.getElementById('listingTable');

//-         if (page < 1) {
//-             page = 1;
//-         } 
//-         if (page > (numPages() -1)) {
//-             page = numPages();
//-         }
    
//-         listingTable.innerHTML = "";

//-         for(var i = (page -1) * records_per_page; i < (page * records_per_page) && i < objJson.length; i++) {
//-             listingTable.innerHTML += `<article class="blog-card"><img class="post-imagePagination" src="/images/imagenesLugar/${objJson[i].imagen_lugar}" width="150" height="150" />
//-                     <div class="article-details">
//-                       <h4 class="post-category">${objJson[i].categoria}</h4>
//-                       <h3 class="post-city">${objJson[i].ciudad}</h3>
//-                       <p class="post-author">Subido por<b> ${objJson[i].autor}</b></p>
//-                       <div class="containerDetailsCovid">
//-                           <div class="containerCovid"><img class="covidImagen" src="../images/imagenesPaginaDiseño/covid-icon.png" />
//-                               <p class="nivelCovid">${objJson[i].nivel_covid} / 5</p>
//-                           </div>
//-                           <div class="containerRestriccion"><img class="covidImagen" src="../images/imagenesPaginaDiseño/restriction.png" />
//-                               <p class="nivelRestriccion">${objJson[i].nivel_restriccion} /5</p>
//-                           </div>
//-                       </div>
//-                     </div>
//-                     <form class="containerLike" action="/lugares/update_like" method="POST" onclick="like(event)"> <button class="likeButton" type="submit" onclick="handleLikesStorage(undefined)"><i class="fas fa-heart"></i>
//-                       <p class="numeroLikes">${objJson[i].likes}</p>
//-                       </button><input id="inputInvisibleLike" style="display:none" name="indexCard" value="NaN" />
//-                     </form>
//-                     <div class="containerReadMore">
//-                       <p>Leer más</p>
//-                     </div>
//-                   </article>`;
//-         }
//-         checkButtonOpacity();
//-         selectedPage();
//-     }

//-     let prevPage = function() {
//-         if(current_page > 1) {
//-             current_page--;
//-             changePage(current_page);
//-         }
//-     }

//-     let nextPage = function() {
//-         if(current_page < numPages()) {
//-             current_page++;
//-             changePage(current_page);
//-         } 
//-     }

//-     let clickPage = function() {
//-         document.addEventListener('click', function(e) {
//-             if(e.target.nodeName == "SPAN" && e.target.classList.contains("clickPageNumber")) {
//-                 current_page = e.target.textContent;
//-                 changePage(current_page);
//-             }
//-         });
//-     }

//-     let pageNumbers = function() {
//-         let pageNumber = document.getElementById('pageNumber');
//-             pageNumber.innerHTML = "";

//-         for(let i = 1; i < numPages() + 1; i++) {
//-             pageNumber.innerHTML += "<span class='clickPageNumber'>" + i + "</span>";
//-         }
//-     }

//-     let numPages = function() {
//-         return Math.ceil(objJson.length / records_per_page);  
//-     }
//-   }
//-   let pagination = new Pagination();
//-   pagination.init();
    
//-   const imagenesAll = document.querySelectorAll(".post-imagePagination")
//-   const categoriasPagination = document.querySelectorAll(".post-category")

//-   console.log(categoriasPagination)
//-   categoriasPagination.forEach(function(categoria,index){
//-       comprobarInput(categoria,index)
//-   })
//-   function comprobarInput(cat,index){

//-       if(cat.innerHTML.toLowerCase() == "montaña"){
//-           imagenesAll[index].src="../images/imagenesCategoria/mountain.png"
//-           imagenesAll[index].style.borderRadius ="100%"
//-       }else if(cat.innerHTML.toLowerCase() == "lago"){
//-           imagenesAll[index].src="../images/imagenesCategoria/lake.png"
//-           imagenesAll[index].style.borderRadius ="100%"
//-       }else if(cat.innerHTML.toLowerCase() == "pueblo"){
//-           imagenesAll[index].src="../images/imagenesCategoria/village.png"
//-           imagenesAll[index].style.borderRadius ="100%"
//-       }else if(cat.innerHTML.toLowerCase() == "valle"){
//-           imagenesAll[index].src="../images/imagenesCategoria/valley.png"
//-           imagenesAll[index].style.borderRadius ="100%"
//-       }else if(cat.innerHTML.toLowerCase() == "catarata"){
//-           imagenesAll[index].src="../images/imagenesCategoria/waterfall.png"
//-           imagenesAll[index].style.borderRadius ="100%"
//-       }else if(cat.innerHTML.toLowerCase() == "rio"){
//-           imagenesAll[index].src="../images/imagenesCategoria/river.png"
//-           imagenesAll[index].style.borderRadius ="20%"
//-       }
//-       else if(cat.innerHTML.toLowerCase() == "mirador"){
//-           imagenesAll[index].src="../images/imagenesCategoria/telescope.png"
//-           imagenesAll[index].style.borderRadius ="20%"
//-       }
//-       else if(cat.innerHTML.toLowerCase() == "museo"){
//-           imagenesAll[index].src="../images/imagenesCategoria/museum.png"
//-           imagenesAll[index].style.borderRadius ="20%"
//-       }
//-       else if(cat.innerHTML.toLowerCase() == "ruta"){
//-           imagenesAll[index].src="../images/imagenesCategoria/path.png"
//-           imagenesAll[index].style.borderRadius ="20%"
//-       }
//-       else if(cat.innerHTML.toLowerCase() == "bar"){
//-           imagenesAll[index].src="../images/imagenesCategoria/bar.png"
//-           imagenesAll[index].style.borderRadius ="20%"
//-       }
//-       else if(cat.innerHTML.toLowerCase() == "otros"){
//-           imagenesAll[index].src="../images/imagenesCategoria/others.png"
//-           imagenesAll[index].style.borderRadius ="20%"
//-       }
//-       else if(cat.innerHTML.toLowerCase() == "restaurante"){
//-           imagenesAll[index].src="../images/imagenesCategoria/restaurant.png"
//-           imagenesAll[index].style.borderRadius ="20%"
//-       }
//-       else if(cat.innerHTML.toLowerCase() == "hotel"){
//-           imagenesAll[index].src="../images/imagenesCategoria/hotel.png"
//-           imagenesAll[index].style.borderRadius ="20%"
//-       }
//-       else{
//-           imagenesAll[index].src="../images/imagenesCategoria/no_photo.png"
//-           imagenesAll[index].style.borderRadius ="0px"
//-       }
//-   }
      

//-   VanillaTilt.init(document.querySelectorAll(".blog-card"), {
//-       max: 1,
//-       speed: 1000
//-   });
      